/* reset */
body,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,textarea,p,
select,button,figure{margin:0;padding:0;}
em,address{font-style:normal;}
ul,li,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal; color:#fff;}
a, span, ul, li, p{color:#fff;text-decoration:none;}
img,fieldset{border:0;}
body{background:#140f30;direction:ltr;-webkit-text-size-adjust:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* �ъ슜�� �대�吏��� �섎��덈뒗 �띿뒪�몄쓽 ��泥댄뀓�ㅽ듃瑜� �쒓났�좊븣 */
.ir_wa {display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%} /* 以묒슂�� �대�吏� ��泥댄뀓�ㅽ듃濡� �대�吏�off�쒖뿉�� ��泥� �띿뒪�몃� 蹂댁뿬二쇨퀬�� �좊븣 */
.screen_out {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px} /* ��泥댄뀓�ㅽ듃媛� �꾨땶 �묎렐�깆쓣 �꾪븳 �④��띿뒪�몃� �쒓났�좊븣 */
.clearfix {*zoom:1;} /* ie7 ��*/ 
.clearfix:before, .clearfix:after {display: table; content: ''; line-height: 0;} 
.clearfix:after {clear:both;}