/*font*/
@font-face {font-family: Noto Sans; src: url(https://tistory2.daumcdn.net/tistory/2905650/skin/images/NotoSans-Regular.woff) format('woff')}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');/*font-family: 'Noto Sans', sans-serif;*/
 br { line-height: 1%; }

body{background-color: #fff}
.container {width: 375px; margin: 0 auto;}

/*header*/
.header{z-index: 1000;height: 73px;width: 100%;box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.5);position: fixed; font-family: 'Noto Sans', sans-serif;background-color: #fff;}
.header .logo{float: left;}
.header .logo img{width: 190px;padding: 15px 22px;}
.icon-wrap {z-index: 1000; position: absolute; right: 5px; top: 33px;transform: translate(-50%, -50%);width: 31px; height:25px;}
.icon, .icon:before, .icon:after {  width: 31px; height: 3px; background: #131516;}
.icon {position: relative;   transition: all 0 300ms;}
.icon.animation{ background: rgba(255,255,255,0);}
.icon:before { content:''; position: absolute; left: 0; bottom: -20px; transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1);}
.icon.animation:before{ bottom: 0; transform: rotate(45deg); transition :  bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);}
.icon:after {content:'';  position: absolute; left: 0; top: 10px; transition :  top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1);}
.icon.animation:after {  top: 0; transform: rotate(-45deg); transition :    top 300ms cubic-bezier(0.23, 1, 0.32, 1),  transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);}
.header .header-r{transition: all 1s 0.2s ease;opacity: 0;width: 139px;height: 100vh;position: absolute;top: 0;right: -140px;background-color: #fff;box-shadow:  -4px 6px 8px 0 rgba(0,0,0,0.15);}
.header .open{right: 0;opacity: 1; transition: all 1s 0.2s ease;}
.header .header-r .cate{margin-top: 73px;}
.header .header-r .cate li{width: 139px;text-align: center; font-size: 16px;font-family: 'Noto Sans', sans-serif;height: 42px;line-height: 42px;} 
.header .header-r .cate li a{color:#373d3f;}
.header .header-r .cate li:nth-child(2){background-color:#ff6d63;border-radius: 5px;width: 140px;}
.header .header-r .cate li:nth-child(2) a{color:#fff;}
.header .header-r .cate li:nth-child(2):hover{background-color: #FF9A91;}
.header .header-r .cate li:nth-child(2):hover a{color:#fff;}
.header .header-r .cate li:nth-child(2):active{background-color: #BF6159}
.header .header-r .cate li:nth-child(2):active span{color:#BF6159;}
.header .header-r .cate li:hover a{color:#172335;font-weight: bold;}
 .header .header-r .language{width: 140px;} 

.header .header-r .language .En{position: relative;}


.header .header-r .language .En span{position: absolute;top: 6px;right: 41px;font-size: 16px;color:#373d3f;}
.header .header-r .language .ko{position: relative;}
.header .header-r .language .ko span{position: absolute;top: 6px;right: 34px;font-size: 14px;}
.header .header-r .language .ch{position: relative;}
.header .header-r .language .ch span{position: absolute;top: 6px;right: 51px;font-size: 14px;}
.header .header-r .language .lan-cate{box-shadow: none;display: none;position: static;background-color:none;width: 140px;}
.header .header-r .language .lan-cate li{width: 120px;position: relative;height: 35px;padding:4px;line-height: 19px }
.header .header-r .language .lan-cate li img{position: absolute;top: 5px;left: 17px;}
.header .header-r .language .lan-cate li span{position: absolute;top: 9px;left: 66px;}
.header .header-r .language .lan-cate li:hover{}
.header .header-r .login{float: left;border:2px solid #373d3f; border-radius: 5px;width: 123px;padding: 6px;text-align: center;background-color: #fff;}
.header .header-r .login.margin{margin-top: 115px;}
.header .header-r .login a{color:#373d3f;font-family: 'Noto Sans', sans-serif;font-size: 14px;}
.header .header-r .login:hover{border:2px solid #FF9A91}
.header .header-r .login:hover a{color:#FF9A91;}
.header .header-r .login:active{border:2px solid #BF6159}
.header .header-r .login:active a{color:#BF6159;}
.header .header-r .name{position: relative;  display:none;float: left;border:2px solid #373d3f; border-radius: 5px;width: 120px;padding: 6px;text-align: center;color:#373d3f;}
.header .header-r .name a{color:#000;font-family: 'Noto Sans', sans-serif;font-size: 14px;}
.header .header-r .name:hover{border:2px solid #FF9A91}
.header .header-r .name:hover a{color:#FF9A91;}
.header .header-r .name:active{border:2px solid #BF6159}
.header .header-r .name:active a{color:#BF6159;}
.header .header-r .logout{font-size: 14px; margin-top: 39px;padding: 8px 0;text-align: center;background-color: #fff;display: none;}
.header .header-r .logout a:hover{font-weight: bold;}

/*popup*/
#m-popup{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background-color: rgba(0,0,0,0.6);z-index:10000;display:none;}
.m-container{ margin: 0 auto; z-index: 100;width: 375px;}
.m-popup{ position: absolute; top: 50%;left: 50%;transform: translate(-50%,-50%);background-image: linear-gradient(to bottom, #ff6d63, #d8d8d8);background-repeat : no-repeat;height: 667px;width: 375px;border-radius: 20px}
.m-popup .m-pop{text-align: center;}

.m-popup .m-pop .event-tit{font-family:'Noto Sans', sans-serif;position: relative;padding-top:15px;background: url(../img/m-tit-bg.png) no-repeat center top;;}
.m-popup .m-pop .event-tit h1 img{width: 300px;}
.m-popup .m-pop .event-tit .ch-tit img{width:140px}
.m-popup .m-pop .event-tit em strong{color:#373d3f;font-size: 14px;padding-right: 20px;}
.m-popup .m-pop .event-tit em{border-radius: 4px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);line-height: 25px;margin:4px auto;font-size: 14px;display:block;width:224px;height: 26px;background-color: rgba(225, 225, 225, 0.24);}
.m-popup .m-pop .event-tit span{color:#f2f3f4;font-size: 10px;}
.m-popup .m-pop .event-tit p{color:#ff001f;font-size: 10px;}
.m-popup .m-pop .event-tit .check-icon{position: absolute;top: 10px;right: 10px;}
.m-popup .m-pop .event-tit .check-icon img{width: 24px;}

.m-popup .m-pop .event-cont{width:375px;height: 404px;margin: 0 auto;background: url(../img/m-table-bg.png) no-repeat center top;padding-top: 15px;overflow: hidden;}
.m-popup .m-pop .event-cont .date-wrap{width:315px;margin: 0 auto;}
.m-popup .m-pop .event-cont .date-wrap .date{width: 63px;height:66px;margin: 0 auto;float:left;}
.m-popup .m-pop .event-cont .date-wrap .date:nth-child(14){background: linear-gradient(140deg, #cd5b55,#172335);}
.m-popup .m-pop .event-cont .date-wrap .date:nth-child(14) img{height: 30px;}
.m-popup .m-pop .event-cont .date-wrap .date:nth-child(14) p{color:#f2f3f4;}
.m-popup .m-pop .event-cont .date-wrap .date:nth-child(28){background: linear-gradient(140deg, #cd5b55,#172335);}
.m-popup .m-pop .event-cont .date-wrap .date:nth-child(28) img{height: 30px;}
.m-popup .m-pop .event-cont .date-wrap .date:nth-child(28) p{color:#f2f3f4;}
.m-popup .m-pop .event-cont .date-wrap .date h2{background-color: #172335; color:#c1c7c9;font-weight: normal;width: 100%;height:17px;line-height: 17px;font-size: 10px;font-family: 'Noto Sans', sans-serif}
.m-popup .m-pop .event-cont .date-wrap .date img{height: 30px;margin-top:4px;box-sizing: border-box;}
.m-popup .m-pop .event-cont .date-wrap .date p{font-size: 8px;color: #999999;font-family: 'Noto Sans', sans-serif;margin-top: -4px;}
.m-popup .m-pop .event-cont .date-wrap .active{border:2px solid #ff6d63;box-sizing: border-box;}
.m-popup .m-pop .event-cont .date-wrap .active h2{background-image: linear-gradient(108deg, #ff6d63, #172335);height: 15px;font-weight: bold;color:#fff;line-height:15px;}
.m-popup .m-pop .event-cont .date-wrap .check{position: relative;}
.m-popup .m-pop .event-cont .date-wrap .check:before{content:'';width: 63px;height: 66px;position: absolute;top: 2px;left: 0;background: url(../img/m-check.png) no-repeat center top;}

.m-popup .m-pop .event-btn{}
.m-popup .m-pop .event-btn{}
.m-popup .m-pop .event-btn p{font-size: 21px;height: 42px;line-height: 40px;margin: 8px auto;display: block;width: 210px; color:#fff; background-color: #ff6d63;border-radius: 5px;font-family: 'Noto Sans', sans-serif}
.m-popup .m-pop .event-btn p:hover{background-color: #FF9A91;}
.m-popup .m-pop .event-btn p:active{background-color: #BF6159;}

.m-popup .m-pop .pop-add{position: fixed;top:0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.7);display: none;}
.m-popup .m-pop .pop-add .add-cont{position:absolute; top: 50%;left:50%;transform:translate(-50%,-50%);}
.m-popup .m-pop .add-cont .add-conts{position: relative;    height: 273px;}
.m-popup .m-pop .add-cont .add-conts h4{font-family:'Noto Sans', sans-serif;position: absolute; top: 49px;left: 79px;font-size:14px;font-weight: bold;}
.m-popup .m-pop .add-cont .add-conts  .add-monster{    height: 91px; position: absolute; top: 76px;left: 69px;}
.m-popup .m-pop .add-cont .add-conts  .add-servant{    height: 91px; position: absolute; top: 76px;left: 79px;}
.m-popup .m-pop .add-cont .add-conts  .add-item{    height: 91px; position: absolute; top: 76px;left: 69px;}
.m-popup .m-pop .add-cont .add-conts  .adddd{overflow:hidden;    margin-top: -97px;}
.m-popup .m-pop .add-cont .add-conts .adddd .saddd{float: center;padding: 10px;display: inline-block;}
.m-popup .m-pop .add-cont .add-conts .adddd .saddd img{width:30px;}
.m-popup .m-pop .add-cont .add-conts .adddd .saddd p{color:#fff}
.m-popup .m-pop .pop-add .add-cont p{font-size: 26px;font-weight: bold;color:#fff;margin-top: 20px;}
.m-popup .m-pop .pop-add .add-btn{margin-top: 60px;}
.m-popup .m-pop .pop-add .add-btn a{font-size: 21px;height: 50px;line-height: 50px;margin: 0 auto;display: block;width: 210px; color:#fff; background-color: #ff6d63;border-radius: 5px}
.m-popup .m-pop .pop-add .add-btn a:hover{background-color: #FF9A91;}
.m-popup .m-pop .pop-add .add-btn a:active{background-color: #BF6159;}


/*.m-popup .m-pop .pop-add .add-cont:before{content:'';width: 142px;height: 145px;border-radius: 50%;background-color: #fff;position: absolute;left:50%;transform:translate(-50%,0);box-shadow: 0px 0px 100px 30px rgba(255,255,255,0.8);z-index: -1;}*/


/*section1*/
.section1 {height: 935px;width: 100%;}
.section1 .sec1{position: relative;height: 935px;width: 100%;}
.section1 .sec1 .sec1-l{}
.section1 .sec1 .sec1-l .tower{position: absolute;top:0%;left: -6%;height: 100px;}
.section1 .sec1 .sec1-l .tower .ov{height: 333px;width: 375px;position: absolute;top: 0;left: 23px;overflow: hidden;}
.section1 .sec1 .sec1-l .tower .ov:before{z-index: 100;content: '';width:100%; height:355px; position: absolute;top: 0;left: 0%;background: linear-gradient(to top, #fff,#fff,rgba(255,255,255,0.2),rgba(255,255,255,0.2),rgba(255,255,255,0.0),rgba(255,255,255,0.2), #fff)}
.section1 .sec1 .sec1-l .tower .ov .tower1{position: absolute;top: -1127%;}
.section1 .sec1 .sec1-l .tower .ov .tower1 img{width:350px;}
.section1 .sec1 .sec1-l .tower .ov .tower1 img:nth-child(1){position: absolute;top: -650px;left: 18px;}
.section1 .sec1 .sec1-l .tower .ov .tower1 img:nth-child(2){position: absolute;top: -5304px;left: 18px;}
.section1 .sec1 .sec1-r{width: 375px;position: relative;top: 235px;height: 600px;z-index: 200;}
.section1 .sec1 .sec1-r .sec1-r-cont{position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%,-50%);width: 100%;}
.section1 .sec1 .sec1-r .sec1-r-cont h1{font-family:'Noto Sans', sans-serif;font-size:38px;font-weight: bold; color:#373d3f;text-align: center;padding-bottom: 40px;text-align: center;}
.section1 .sec1 .sec1-r .sec1-r-cont p{font-family:'Noto Sans', sans-serif;font-size: 20px;line-height: 1.63;color: #555f61;font-weight: 500;text-align: center;padding-bottom: 14px;}
.section1 .sec1 .sec1-r .sec1-r-cont .sec1-btn{text-align: center;margin: 40px 0;}
.section1 .sec1 .sec1-r .sec1-r-cont .sec1-btn span{display: block;margin: 24px 0;font-family:'Noto Sans', sans-serif;}
.section1 .sec1 .sec1-r .sec1-r-cont .sec1-btn span a{font-family:'Noto Sans', sans-serif;border-radius: 5px;color:#fff;font-size: 21px;font-weight: bold; height: 60px;line-height: 60px;margin: 0 auto;display: block; width: 210px; background-color: #ff6d63;}
.section1 .sec1 .sec1-r .sec1-r-cont .sec1-btn span:nth-child(1) a:hover{background-color: #FF9A91;}
.section1 .sec1 .sec1-r .sec1-r-cont .sec1-btn span:nth-child(1) a:hover {color:#fff;}
.section1 .sec1 .sec1-r .sec1-r-cont .sec1-btn span:nth-child(1) a:active{background-color: #BF6159}
.section1 .sec1 .sec1-r .sec1-r-cont .sec1-btn span:nth-child(2) a{border-radius: 5px; height: 60px;line-height: 60px;margin: 0 auto;display: block; width: 210px;color:#373d3f; background-color: #fff;border:solid 2px #373d3f;}
.section1 .sec1 .sec1-r .sec1-r-cont .sec1-btn span:nth-child(2) a:hover{border:solid 2px #FF9A91; color:#FF9A91}
.section1 .sec1 .sec1-r .sec1-r-cont .sec1-btn span:nth-child(2) a:active{border:solid 2px #BF6159; color:#BF6159}
.section1 .sec1 .sec1-r .sec1-r-cont .sec1-sns{text-align: center;}
.section1 .sec1 .sec1-r .sec1-r-cont .sec1-sns li{display: inline;margin:0 5px;}
.section1 .sec1 .sec1-r .sec1-r-cont .sec1-sns li a img{width: 30px;} 
.section1 .sec1 .sec1-bott{text-align: center;position: absolute;bottom: 14px;left: 36%;width: 100px;height: 52px;}
.section1 .sec1 .sec1-bott h4{ font-size: 16px;  color: #b3b3b3;font-family:'Noto Sans', sans-serif;margin-bottom: 13px;}
.section1 .sec1 .sec1-bott .scroll{position: relative;top: 0;}
.section1 .sec1 .att-check{position:fixed;bottom:6px;right:0;z-index:801;}
.section1 .sec1 .att-check img{width:70px;}



/*section2*/
.section2 {height: 700px;background-color: #172335;}
.section2 .sec2{height: 700px;text-align: center;position: relative;}
.section2 .sec2 h1{opacity: 0;font-family:'Noto Sans', sans-serif;font-size: 32px; font-weight: bold; color: #f2f3f4; padding-top: 30px;}
.section2 .sec2 p{opacity: 0;color: #dadedf;font-family:'Noto Sans', sans-serif;font-weight: 600;font-size:20px;padding: 26px 0;}
.section2 .sec2 .video {opacity: 0;}
.section2 .sec2 .video iframe{ width: 350px;height: 200px;padding: 15px 0 30px;}
.section2 .sec2 span{opacity: 0;color:#fff; line-height: 2; font-family: 'Noto Sans', sans-serif;color:#c1c7c9;font-size: 14px;}

/*section2 animation*/

.section2 .show2 h1{opacity: 1; transform: translateY(15px); transition: all 1s 0.2s ease;}
.section2 .show2 p{opacity: 1; transform: translateY(15px); transition: all 1s 0.4s ease;}
.section2 .show2 .video{opacity: 1; transform: translateY(15px); transition: all 1s 0.5s ease;}
.section2 .show2 span{opacity: 1; transform: translateY(15px); transition: all 1s 0.6s ease;font-family: 'Noto Sans', sans-serif;;}

/*section3*/
.section3 {height: 769px;background-color: #fff;}
.section3 .sec3{text-align: center;}
.section3 .sec3 h1{opacity: 0;	 font-family: 'Noto Sans', sans-serif;;font-size: 32px;font-weight: bold;padding-top: 30px;color:#131516;}
.section3 .sec3 h2{opacity: 0;	font-family: 'Noto Sans', sans-serif;; font-size: 20px; padding-top: 20px;line-height: 1.57;color: #373d3f;font-weight: 600;}
.section3 .sec3 .sec3-monster{opacity: 0;	overflow: hidden;margin: 0 auto;margin: 23px 40px;}
.section3 .sec3 .sec3-monster .sm3-l{float: left;margin-left: 30px;}
.section3 .sec3 .sec3-monster .sm3-l img{width: 87px;}
.section3 .sec3 .sec3-monster .sm3-l h3 { font-weight: 600; font-family: 'Noto Sans', sans-serif;; font-size: 20px;margin-top: 20px;color: #373d3f;}
.section3 .sec3 .sec3-monster .sm3-l p { font-family: 'Noto Sans', sans-serif;;font-size: 32px;font-weight: bold;color: #373d3f;}
.section3 .sec3 .sec3-monster .sm3-l em{color: #555f61;font-size: 14px;}
.section3 .sec3 .sec3-monster .sm3-r{float: right;}
.section3 .sec3 .sec3-monster .sm3-r img{width: 94px;}
.section3 .sec3 .sec3-monster .sm3-r h3 { font-weight: 600;font-family:'Noto Sans', sans-serif; font-size: 20px;margin-top: 17px;color: #373d3f;}
.section3 .sec3 .sec3-monster .sm3-r p {font-family:'Noto Sans', sans-serif;font-size:32px;font-weight: bold;color: #373d3f;}
.section3 .sec3 .sec3-monster .sm3-r em{color: #555f61;font-size: 14px;}
.section3 .sec3 .sec3-btn {display:none;font-family:'Noto Sans', sans-serif;opacity: 0;	margin: 40px 0 60px;position: relative;}
.section3 .sec3 .sec3-btn a{ font-size: 21px;font-weight: bold; height: 60px;line-height: 60px;margin: 0 auto;display: block; width: 210px; color:#fff; background-color: #ff6d63;border-radius: 5px}
.section3 .sec3 .sec3-btn a img{position: absolute;top: 33%;left: 247px;}
.section3 .sec3 .ch-sec3-btn a img{left: 224px}
.section3 .sec3 .sec3-btn a span{font-size: 21px;font-weight: bold; color:#fff;margin-left: 33px;}
.section3 .sec3 .sec3-btn a:hover{background-color: #FF9A91;}
.section3 .sec3 .sec3-btn a:active{background-color: #BF6159}
.section3 .sec3 .sec3-btn1 {font-family:'Noto Sans', sans-serif;opacity: 0;	margin: 40px 0 60px;}
.section3 .sec3 .sec3-btn1 a{ font-size: 21px;font-weight: bold; height: 60px;line-height: 60px;margin: 0 auto;display: block; width: 210px; color:#373d3f; background-color: #fff;border:solid 2px #373d3f;border-radius: 5px}
.section3 .sec3 .sec3-btn1 a:hover{border:solid 2px #FF9A91; color:#FF9A91}
.section3 .sec3 .sec3-btn1 a:active{border:solid 2px #BF6159; color:#BF6159}
.section3 .sec3 .sec3-btn2 {display:none;font-family:'Noto Sans', sans-serif;opacity: 0;	margin: 40px 0 60px;}
.section3 .sec3 .sec3-btn2 span{ font-size: 21px;font-weight: bold; height: 60px;line-height: 60px;margin: 0 auto;display: block; width: 210px; color:#373d3f; background-color: #fff;border:solid 2px #373d3f;border-radius: 5px}
.section3 .sec3 em{opacity: 0; font-size: 14px;line-height: 2;font-family: 'Noto Sans', sans-serif;color:#555f61;}
.section3 .sec3 h4{opacity: 0; font-size: 14px;color:#ff001f;font-family: 'Noto Sans', sans-serif;margin-top: 5px;}

/*section3 animation*/
.section3 .show3 h1{opacity: 1; transform: translateY(15px); transition: all 1s 0.2s ease;}
.section3 .show3 h2{opacity: 1; transform: translateY(15px); transition: all 1s 0.4s ease;}
.section3 .show3 .sec3-monster{opacity: 1; transform: translateY(15px); transition: all 1s 0.5s ease;}
.section3 .show3 .sec3-btn{opacity: 1; transform: translateY(15px); transition: all 1s 0.6s ease;}
.section3 .show3 .sec3-btn1{opacity: 1; transform: translateY(15px); transition: all 1s 0.6s ease;}
.section3 .show3 .sec3-btn2{opacity: 1; transform: translateY(15px); transition: all 1s 0.6s ease;}
.section3 .show3 em{opacity: 1; transform: translateY(15px); transition: all 1s 0.7s ease;}
.section3 .show3 h4{opacity: 1; transition: all 1s 1s ease;}

/*section4*/
.section4 {height: 800px;}
.section4 .sec4{text-align: center;display: block;}
.section4 .sec4 h1{ opacity: 0;	font-family:'Noto Sans', sans-serif;font-size:32px;font-weight: bold;padding-top: 66px;color:#131516;}
.section4 .sec4 h2{opacity: 0;	font-family:'Noto Sans', sans-serif; font-size: 20px; padding: 30px 0;line-height: 1.57;font-weight: 600;color: #373d3f;}
.section4 .sec4 .sec4-mon{opacity: 0;position: relative;}
.section4 .sec4 .sec4-mon img{height: 70px;width: 100%;}
.section4 .sec4 .sec4-mon:before{background: linear-gradient(to left, #fff,rgba(255,255,255,0.5),rgba(255,255,255,0.0),rgba(255,255,255,0.5), #fff);content: ''; width: 100%;height: 70px;position: absolute;left: 0;}
.section4 .sec4 .sec4-item{opacity: 0;position: relative;height: 70px;}
.section4 .sec4 .sec4-item img{height: 70px;width: 100%;}
.section4 .sec4 .sec4-item:before{background: linear-gradient(to left, #fff,rgba(255,255,255,0.5),rgba(255,255,255,0.0),rgba(255,255,255,0.5), #fff);content: ''; width: 100%;height: 70px;position: absolute;left: 0;}
.section4 .sec4 .sec4-btn {display:none;font-family:'Noto Sans', sans-serif;opacity: 0;	margin: 60px 0;}
.section4 .sec4 .sec4-btn a{font-size: 21px;font-weight: bold;height: 60px;line-height: 60px;margin: 0 auto;display: block; width: 210px;  color:#373d3f; background-color: #fff;border:solid 2px #373d3f;border-radius: 5px}
.section4 .sec4 .sec4-btn a:hover{border:solid 2px #FF9A91; color:#FF9A91}
.section4 .sec4 .sec4-btn a:active{border:solid 2px #BF6159; color:#BF6159}
.section4 .sec4 .sec4-btn1 {display:none;font-family:'Noto Sans', sans-serif; opacity: 0;	margin: 60px 0 60px;}
.section4 .sec4 .sec4-btn1 a{position: relative;font-size: 21px;font-weight: bold;height: 60px;line-height: 60px;margin: 0 auto;display: block; width: 210px; color:#fff; background-color: #ff6d63;border-radius: 5px}
.section4 .sec4 .sec4-btn1 a img{position: absolute;top: 33%;left: 153px;}
.section4 .sec4 .ch-sec4-btn1 a img{left: 143px;}
.section4 .sec4 .sec4-btn1 a span{font-size: 21px;font-weight: bold; color:#fff;margin-left: 33px;}
.section4 .sec4 .sec4-btn1 a:hover{background-color: #FF9A91;}
.section4 .sec4 .sec4-btn1 a:active{background-color: #BF6159}
.section4 .sec4 .sec4-btn2 {font-family:'Noto Sans', sans-serif;opacity: 0;	margin: 60px 0;}
.section4 .sec4 .sec4-btn2 a{font-size: 21px;font-weight: bold; height: 60px;line-height: 60px;margin: 0 auto;display: block; width: 210px; color:#373d3f; background-color: #fff;border:solid 2px #373d3f;border-radius: 5px}
.section4 .sec4 .sec4-btn2 a:hover{border:solid 2px #FF9A91; color:#FF9A91}
.section4 .sec4 .sec4-btn2 a:active{border:solid 2px #BF6159; color:#BF6159}
.section4 .sec4 em{opacity: 0;font-family: 'Noto Sans', sans-serif;font-size: 14px;  line-height: 2; color: #555f61;}

/*section4 animation*/
.section4 .show4 h1{opacity: 1; transform: translateY(15px); transition: all 1s 0.2s ease;}
.section4 .show4 h2{opacity: 1; transform: translateY(15px); transition: all 1s 0.4s ease;}
.section4 .show4 .sec4-mon{opacity: 1;  transition: all 1s 0.5s ease;}
.section4 .show4 .sec4-item{opacity: 1;  transition: all 1s 0.7s ease;}
.section4 .show4 .sec4-btn{opacity: 1; transform: translateY(15px); transition: all 1s 0.9s ease;}
.section4 .show4 .sec4-btn1{opacity: 1; transform: translateY(15px); transition: all 1s 0.9s ease;}
.section4 .show4 .sec4-btn2{opacity: 1; transform: translateY(5px); transition: all 1s 0.9s ease;}
.section4 .show4 em{opacity: 1; transform: translateY(15px); transition: all 1s 1.0s ease;}


/*section4-1*/
.section4-1 {height: 1px;position: relative;opacity: 0;}
.section4-1 .sec4-1{text-align: center;display: block;}
.section4-1 .sec4-1 h1{font-family:'Noto Sans', sans-serif;font-size:32px;font-weight: bold;padding-top: 66px;color:#131516;}
.section4-1 .sec4-1 h2{font-family:'Noto Sans', sans-serif; font-size: 20px; padding: 30px 0;line-height: 1.57;font-weight: 600;color: #373d3f;}
.section4-1 .sec4-1 .sec4-mon{position: relative;}
.section4-1 .sec4-1 .sec4-mon img{height: 70px;width: 100%;}
.section4-1 .sec4-1 .sec4-mon:before{background: linear-gradient(to left, #fff,rgba(255,255,255,0.5),rgba(255,255,255,0.0),rgba(255,255,255,0.5), #fff);content: ''; width: 100%;height: 70px;position: absolute;left: 0;}
.section4-1 .sec4-1 .sec4-item{position: relative;height: 70px;}
.section4-1 .sec4-1 .sec4-item img{height: 70px;width: 100%;}
.section4-1 .sec4-1 .sec4-item:before{background: linear-gradient(to left, #fff,rgba(255,255,255,0.5),rgba(255,255,255,0.0),rgba(255,255,255,0.5), #fff);content: ''; width: 100%;height: 70px;position: absolute;left: 0;}
.section4-1 .sec4-1 .sec4-btn3 {font-family:'Noto Sans', sans-serif;	margin: 60px 0;}
.section4-1 .sec4-1 .sec4-btn3 a{font-size: 21px;font-weight: bold;height: 60px;line-height: 60px;margin: 0 auto;display: block; width: 210px;  color:#fff; background-color: #ff6d63;border-radius: 5px}
.section4-1 .sec4-1 .sec4-btn3 a img{position: absolute;top: 50.7%;left: 234px;}
.section4-1 .sec4-1 .sec4-btn3 a span{font-size: 21px;font-weight: bold; color:#fff;margin-left: 33px;}
.section4-1 .sec4-1 em{font-family: 'Noto Sans', sans-serif;font-size: 14px;  line-height: 2; color: #555f61;}
.section4-1 .sec4-1 .card-rota{ opacity: 0;position: absolute;top: 47%;left: 50%;transform: translate(-50%,-50%);z-index: 200;text-align: center;}
.section4-1 .sec4-1 .card-rota .card-bg{position: relative;top: -120px;z-index: 101;}
.section4-1 .sec4-1 .card-rota .card-bg img{width: 250px;}
.section4-1 .sec4-1 .card-rota .card{position: absolute;top:-16%;left: -17%;text-align: center;width: 341px;z-index: 102;}
.section4-1 .sec4-1 .card-rota .card .bservant{height: 120px;}
.section4-1 .sec4-1 .card-rota .card .bmonster{height: 120px;}
.section4-1 .sec4-1 .card-rota .card .bitem{height:120px  }   
.section4-1 .sec4-1 .card-rota .card .tier{width: 25px;position: absolute;top: 1%;left: 19%;}
.section4-1 .sec4-1 .card-rota .card .cname{font-family:'Noto Sans', sans-serif;font-size: 14px;font-weight: bold;margin-bottom: 13px;}
.section4-1 .sec4-1 .card-rota .card .value{overflow: hidden;margin-top: 10px;position: absolute;top: 158px;left: 64px;width: 211px;z-index: 102;}
.section4-1 .sec4-1 .card-rota .card .value .val{float: center;padding: 5px;display: inline-block;}
.section4-1 .sec4-1 .card-rota .card .value .val img{width: 27px;}
.section4-1 .sec4-1 .card-rota .card .value .val p{color:#fff;margin-top: 10px;font-family:'Noto Sans', sans-serif; font-size: 18px;}
.section4-1 .sec4-1 .card-rota .sec4-2btn { position: absolute;top: 78%;left: 5%;}
.section4-1 .sec4-1 .card-rota .sec4-2btn a{font-family: 'Noto Sans', sans-serif;line-height: 60px;font-size: 21px;font-weight: bold;display:inline-block; width: 220px;height: 60px;color:#000; background-color: #ff6d63;border-radius:10px;color:#fff;box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5) }
.section4-1 .sec4-1 .card-rota .sec4-2btn a:hover{background-color: #FF9A91;}
.section4-1 .sec4-1 .card-rota .sec4-2btn a:active{background-color: #BF6159}
.section4-1 .sec4-1 .card-b{position: absolute; top: 20%; left: 0%;right: 0;z-index: 100;}
.section4-1 .sec4-1 .card-b img{width: 250px;}

#glow-post-fx{position: absolute;width: 100%;height:100%;z-index: 99;}

/*section4-1 animation*/
.section4-1:before{content: '';width: 100%;height: 100%;background-color: rgba(0,0,0,0.8);position: absolute;top: 0;left: 0px;z-index: 100;-webkit-transition: all  0.5s ease-in-out}
.section4-1 .show4-1 .card-b{transform: rotateY(2520deg); transition: all  5s ease-in-out;-webkit-transform: rotateY(2520deg);-webkit-transition: all  5s ease-in-out;}
.section4-1 .show4-1 .card-rota{opacity: 1; transition: all  1s 4.4s ease-in-out;}


/*section4-3*/
.section4-3{ height: 550px;display: none;}
.section4-3 .sec4-3{text-align: center;}
.section4-3 .sec4-3 h1{font-family: 'Noto Sans', sans-serif;font-size: 32px;font-weight: bold;margin: 80px 0;color:#131516;}
.section4-3 .sec4-3 .slide-wrap .slick{position: relative;width: 200px;}
.section4-3 .sec4-3 .slide-wrap .slick h2{font-family: 'Noto Sans', sans-serif;;font-size: 11px; font-weight: bold; position: absolute; top: 23%; left: 39%;transform: translate(-50%,-50%);}
.section4-3 .sec4-3 .slide-wrap .slick .smonster{position: absolute;top: 45%;left: 39%;transform: translate(-50%,-50%);height: 90px;}
.section4-3 .sec4-3 .slide-wrap .slick .ability{position: absolute;top: 75%;left: 39%;transform: translate(-50%,-50%);width: 200px;}
.section4-3 .sec4-3 .slide-wrap .slick .ability .sabil{display:inline-block;margin: 0 8px;}
.section4-3 .sec4-3 .slide-wrap .slick .ability .sabil img{width: 25px;}
.section4-3 .sec4-3 .slide-wrap .slick .ability .sabil p{color:#fff}
.section4-3 .sec4-3 .slide-wrap .slick .slick-servant{height: 90px;position: absolute;top: 45%;left: 42%;transform: translate(-50%,-50%);}
.section4-3 .sec4-3 .slide-wrap .slick .sitem{height: 70px;position: absolute;top: 45%;left: 42%;transform: translate(-50%,-50%);}
.section4-3 .sec4-3 .slide-wrap .slick .stier{position: absolute;top: 57px;left: 19px;width: 20px;}

/*section5*/
.section5 {height: 2500px;background: url(../img/sec5-bg.png)  no-repeat center top;}
.section5 .sec5{text-align: center;padding-top: 215px; color: #373d3f;font-weight: bold;}
.section5 .sec5 h1{font-family: 'Noto Sans', sans-serif;font-size:32px;font-weight: bold;opacity: 0;	}
.section5 .sec5 h2{ font-family: 'Noto Sans', sans-serif;; font-size:20px;margin:20px 0 40px;opacity: 0;	font-weight: 600;}
.section5 .sec5 .explain {width: 100%;}
.section5 .sec5 .explain .ex-img{opacity: 0;}
.section5 .sec5 .explain.explain1 .ex-img img{width:375px;}
.section5 .sec5 .explain .ex-img img{width:300px;}
.section5 .sec5 .explain .ex-txt{width:100%;position: relative;	top: 20px;}
.section5 .sec5 .explain1 .ex-txt{top: 10px;}
.section5 .sec5 .explain3 .ex-txt{top: -31px;}
.section5 .sec5 .explain .ex-txt h3{padding-top: 15px;opacity: 0;	 font-family:'Noto Sans', sans-serif;font-size: 28px; font-weight: bold;margin: 40px 0;color: #373d3f;}
.section5 .sec5 .explain .ex-txt p{opacity: 0;	font-family: 'Noto Sans', sans-serif;font-size: 14px; line-height: 2;margin-bottom:156px; color: #555f61;font-weight: normal;}
.section5 .sec5 .explain .ex-txt .bar-t{position: absolute;	left: 11%;width: 300px;	}
.section5 .sec5 .explain .ex-txt .bar-b{position: absolute;	left: 11%;width: 300px;	}
.section5 .sec5 .explain1 .ex-txt .bar-t{top: 50.5%;}
.section5 .sec5 .explain1 .ex-txt .bar-b{bottom: 49%}
.section5 .sec5 .explain2 .ex-txt .bar-t{top:  50.5%;}
.section5 .sec5 .explain2 .ex-txt .bar-b{bottom: 49.5%;}
.section5 .sec5 .explain3 .ex-txt .bar-t{top:  50.5%;}
.section5 .sec5 .explain3 .ex-txt .bar-b{bottom:49.5%;}

/*section5 animation*/
.section5 .show5 h1{opacity: 1; transform: translateY(-15px); transition: all 1s 0.2s ease;color:#131516;}
.section5 .show5 h2{opacity: 1; transform: translateY(-15px); transition: all 1s 0.2s ease;color:#373d3f;font-weight: bold;}
.section5 .show5-1 .explain1 .ex-img{opacity: 1; transform: translateY(-25px); transition: all 1s 1.0s ease;}
.section5 .show5-1 .explain1 .ex-txt h3{opacity: 1;transition: all 0.6s 0.9s ease;}
.section5 .show5-1 .explain1 .ex-txt p{opacity: 1;transition: all 0.8s 0.9s ease;}
.section5 .show5-1 .explain1 .ex-txt .bar-t{top: -14%;transition: all 0.8s 0.6s ease;}
.section5 .show5-1 .explain1 .ex-txt .bar-b{bottom: -27%;transition: all 0.8s 0.6s ease;}
.section5 .show5-2 .explain2 .ex-img{opacity: 1; transform: translateY(-25px); transition: all 1s 0.6s ease;}
.section5 .show5-2 .explain2 .ex-txt h3{opacity: 1;transition: all 0.6s 0.6s ease;}
.section5 .show5-2 .explain2 .ex-txt p{opacity: 1;transition: all 0.8s 0.6s ease;}
.section5 .show5-2 .explain2 .ex-txt .bar-t{top: -20%;transition: all 0.8s 0.4s ease;}
.section5 .show5-2 .explain2 .ex-txt .bar-b{bottom: -30%;transition: all 0.8s 0.4s ease;}
.section5 .show5-3 .explain3 .ex-img{opacity: 1; transform: translateY(-25px); transition: all 1s 0.6s ease;}
.section5 .show5-3 .explain3 .ex-txt h3{opacity: 1;transition: all 0.6s 0.6s ease;}
.section5 .show5-3 .explain3 .ex-txt p{opacity: 1;transition: all 0.8s 0.6s ease;}
.section5 .show5-3 .explain3 .ex-txt .bar-t{top: -11%;transition: all 0.8s 0.4s ease;}
.section5 .show5-3 .explain3 .ex-txt .bar-b{bottom: -18%;transition: all 0.8s 0.4s ease;}

/*section6*/
.section6{background: url(../img/sec6-bg.png)  no-repeat center top;height: 1500px;}
.section6 .sec6{position: relative;height: 1500px;}
.section6 .sec6 h2{opacity: 0;font-family:'Noto Sans', sans-serif;text-align: center;font-size: 32px;line-height: 1.9;font-weight: bold; padding-top: 65px; transform: translateY(0);color:#131516;}
.section6 .sec6 .map-img{opacity: 0;position: absolute;top:37%;left: 47%;transform:translate(-50%,-50%);-webkit-transform: translate(-50%, -50%);}
.section6 .sec6 .map-img img{}
.section6 .sec6 .map-wrap{width: 100%;height: 500px;position: relative;margin-top: 30px;}
.section6 .sec6 .map-wrap .map{display: inline-block;position: absolute;	}
.section6 .sec6 .map-wrap .map:nth-child(1){top: 7%; left: 7%; transform: translateY(0);opacity: 0;}
.section6 .sec6 .map-wrap .map:nth-child(2){top: 23%;left: 65%; transform: translateY(0);opacity: 0;}
.section6 .sec6 .map-wrap .map:nth-child(3){top: 39%; left: 7%; transform: translateY(0);opacity: 0;}
.section6 .sec6 .map-wrap .map:nth-child(4){top: 56%;left: 65%; transform: translateY(0);opacity: 0;}
.section6 .sec6 .map-wrap .map:nth-child(5){top: 75%; left: 7%; transform: translateY(0);opacity: 0;}
.section6 .sec6 .map-wrap .map:nth-child(6){top: 92%;left: 65%; transform: translateY(0);opacity: 0;}
.section6 .sec6 .map-wrap .map:nth-child(7){top: 108%; left: 7%; transform: translateY(0);opacity: 0;}
.section6 .sec6 .map-wrap .map:nth-child(8){top: 125%;left: 65%; transform: translateY(0);opacity: 0;}
.section6 .sec6 .map-wrap .map:nth-child(9){top: 140%; left: 7%; transform: translateY(0);opacity: 0;}
.section6 .sec6 .map-wrap .map h3{font-family:'Noto Sans', sans-serif;color: #131516;font-size: 18px;font-weight: bold;line-height: 1.78;padding-bottom: 10px;}
.section6 .sec6 .map-wrap .map:nth-child(1) h3{color:#ff6d63}
.section6 .sec6 .map-wrap .map p{font-family: 'Noto Sans', sans-serif;font-size: 14px;line-height: 1.78; color: #373d3f;}
.section6 .sec6 .map-wrap .map h3.rod-en{padding-bottom: 25px;}
.section6 .sec6 .map-wrap .map:nth-child(8) h3.rod-en{padding-bottom: 39px;}
.section6 .sec6 .map-wrap .map h3.rod-ko{padding-bottom: 22px;}

/*section6 animation*/
.section6 .show6 .map-img{opacity: 1; transition: all 0.8s 0.7s ease;}
.section6 .show6 h2{font-family:'Helvetica', sans-serif;opacity: 1; transform: translateY(20px); transition: all 0.8s 0.5s ease;}
.section6 .show6 .map-wrap .map:nth-child(1){opacity: 1; transform: translateY(10px);  transition: all 0.8s 0.8s ease;}
.section6 .show6 .map-wrap .map:nth-child(2){opacity: 1; transform: translateY(10px); transition: all 0.8s 1s ease;}
.section6 .show6 .map-wrap .map:nth-child(3){opacity: 1; transform: translateY(10px);  transition: all 0.8s 1.3s ease;}
.section6 .show6 .map-wrap .map:nth-child(4){opacity: 1; transform: translateY(10px); transition: all 0.8s 1.7s ease;}
.section6 .show6 .map-wrap .map:nth-child(5){opacity: 1; transform: translateY(10px);  transition: all 0.8s 2s ease;}
.section6 .show6 .map-wrap .map:nth-child(6){opacity: 1; transform: translateY(10px); transition: all 0.8s 2.2s ease;}
.section6 .show6 .map-wrap .map:nth-child(7){opacity: 1; transform: translateY(10px);  transition: all 0.8s 2.5s ease;}
.section6 .show6 .map-wrap .map:nth-child(8){opacity: 1; transform: translateY(10px); transition: all 0.8s 2.8s ease;}
.section6 .show6 .map-wrap .map:nth-child(9){opacity: 1; transform: translateY(10px); transition: all 0.8s 2.8s ease;}

/*section7*/
.section7{height:900px;}
.section7 .sec7{height: 900px;position: relative;}
.section7 .sec7 h2{opacity: 0;font-family:'Noto Sans', sans-serif;text-align: center;font-size:32px;line-height: 1.9;font-weight: bold; transform: translateY(0);color:#131516;}
.section7 .show7 .partner-wrap{width:100%; position:absolute;top:50%;left:50%; transform:translate(-50%,-50%);text-align: center;-webkit-transform: translate(-50%, -50%);}
.section7 .show7 .partner-wrap li{margin: 3% 3%;}
.section7 .sec7 .partner-wrap img{opacity: 0;width: 200px}

/*section7 animation*/
.section7 .show7 h2{font-family:'Noto Sans', sans-serif;opacity: 1; transform: translateY(20px); transition: all 0.8s 0.5s ease;}
.section7 .show7 .partner-wrap img{opacity: 1; transition: all 0.8s 0.7s ease; transform: translateY(20px);}


/*footer*/
footer{height: 400px;background-color: #172335;}
.footer{text-align: center;line-height: 2;}
.footer .footer-logo{width: 132px;padding-top: 50px;}
.footer .f-sns{margin-top: 50px;}
.footer .f-sns li {display: inline;}
.footer .f-sns li a img{width: 27px; margin:0 4px;}
.footer span{font-family: Galano; font-size: 14px;color:#6f6f6f;}

